.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px 20px;
  font-weight: bold;
  box-shadow: 0 2px 3px #DDD;
}

.button:disabled {
  cursor: not-allowed;
  color: #CCC;
}

.success {
  color: #5C9210;
}

.primary {
  color: #3993BD;
}

.danger {
  color: #944317;
}
